<h1>Facebook / <%= title %></h1>

<section id="feed-posts">
        <h3>Posts</h3>
<!-- creating post is visible only when the user is signed -in -->
        <% if(locals.user) {%>
        <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" id="" cols="30" rows="3" placeholder="type here!" required></textarea>
                <input type="submit" value="Post">
        </form>
        <% } %>
<!-- for showing posts on home page -->
        <div id="posts-list-container">
                <ul>
                        <% for(post of posts) {%>
                                <li>
                                        
                                        <p>
                                        <!-- deleting posts with authorization -->
                                                <!-- delete button is visible to the user who has signed in and only the post creator can delete the post -->

                                                <% if (locals.user && locals.user.id == post.user.id) { %>
                                              
                                                        <!-- creating delete button for posts -->
                                                <small>
                                                        <a href="/posts/destroy/<%= post.id %>">X</a>
                                                </small>
                                                <% } %>
                                                <%= post.content %>
                                                <br>
                                                <small>
                                                        <%= post.user.name %>
                                                </small>
                                        </p>
                                        <!-- creating form for comments -->
                                        <div class="post-comments">
                                                <!-- those who logged in only they can see the form -->
                                                <% if (locals.user) { %>
                                                        <form action="/comments/create" method="post">
                                                                <input type="text" name="content" placeholder="Type here to add comment..!" required>

                                                                <!-- The id of the post in which we have to add a comment -->
                                                                <input type="hidden" name="post" value="<%= post._id%>">
                                                                <input type="submit" value="Add comment">

                                                        </form>


                                               <% } %>
                                        <!-- showing comments on the page -->
                                               <div class="post-comments-list">
                                                        <ul id="post-comments-<%= post._id%>">
                                                                <!-- post.comments,, bcoz comments is under the post and hence, iterating over all the post and displaying what's inside -->
                                                                <% for(comment of post.comments) { %>
                                                                        <p>
                                                                                <%= comment.content %>
                                                                                <br>
                                                                                <small>
                                                                                        <%= comment.user.name %>
                                                                                </small>
                                                                        </p>
                                                                <% } %>

                                                </ul>


                                               </div>





                                        </div>

                                        
                                </li>
                        <% } %>
                </ul>

        </div>

</section>

        