<html>
    <head>
        <title>
            <%= title %>
        </title>

        <!-- for linking layout.css file -->

        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">


        <!-- whenever there is something called as a link tag or a script tag in the body,it will automatically put link tag(<%- style %>) above </head> and script tag above body closing -->
        <%- style %>
    </head>
    <body>
        
         <%- include('_header'); %> 
<!-- accessing Flash -->
         <% if(flash.success && flash.success.length > 0) { %>
            <h5>
                <%= flash.success %>
            </h5>
            <% } %>

        <main id="layout-main">
            
            <%- body %>

        </main>
       

        <%- include('_footer'); -%>

        <%- script %> 
    </body>
</html>